@font-face {
  font-family: 'LexendDeca' !important;
  font-weight: 100 900 !important;
  font-display: swap !important;
  font-style: normal !important;
  font-named-instance: 'Light' !important;
  src: url(/fonts/LexendDeca-Light.ttf) format("ttf") !important;
}

body {
  font-family: 'LexendDeca-Thin';
  font-size: 22px;
  font-weight: 100;
  .navbar {
    .container {
      padding: 20px;
      @media  (max: 450px) {
        padding: 0 20px !important;
      }
      .navbar-toggler {
        border: none !important;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
    main {
      margin: 10px !important;
      @media (max: 450px) {
        margin: 5px !important;
      }
      .pagination {
        .page-link.active {
          background-color: gray;
          border-color: gray;
          color: #fff;
        }
        .page-link {
          color: #606060;
        }
      }
    }
    main.content-wrapper {
      min-height: calc(80vh - 50px);
    }
    .footer {
      height: 50px;
    }
}